* {
  box-sizing: border-box;
  
}
body,
html {
  display: grid;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
button {
  background-color: yellow;
}
.hero-image {
  width: 100px;
  height: 200px;
}

.filter-screen-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.filter-image {
  border: 2px solid yellow;
  width: 200px;
  height: 200px;
}
.filters {
  padding: 20px;
  justify-content: space-evenly;
}
.nav-container {
  border: 2px solid yellow;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  
}

.image{
  width:300px;
  height: 300px;
}

.fil{
  width: 30%;
  height: 30%;
}
.contrast{
  width: 60%;
  height:60%;
  

}

.but{
  width: 10%;
  height:10%;
}
.input1{
  height: 40px;
  

}

.links{
  display: flex;
  justify-content: center;
  width: 10px;
}