* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  justify-content: center;
}
body,
html {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
}
img {
  width: 100%;
}

button {
  border: 2px solid fuchsia;
}
